.header-component {
    margin:0;
    padding:0;
    background-color:#ff6600;
}

header {
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
    height:40px;
    padding:1rem 0;
    color:#ffffff;
    width:100%;
    max-width:1000px;
    margin:0 auto;
}

.header-content {
    display:flex;
    flex-flow:row nowrap;
    height:60px;
}

.header-content img {
    max-width:100%;
    width:50px;
    height:60px;
}

.header-content ul {
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    margin:0 0 0 2rem;
    padding:0;
    list-style-type:none;
    height: 60px;
}

.header-content ul li {
    padding-right:3rem;
    text-transform: capitalize;
    font-size:1.8rem;
}