.stories-component {
    width:100%;
    max-width:1000px;
    margin:0 auto;
    color:#ffffff;
    padding-left:2rem;
}

.story-item {
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size:1.4rem;
    border-bottom:1px solid #5b5b5b;
    min-height:60px;
}

.story-link {
    color:#ffffff;
    text-decoration:none;
}

.story-link:hover {
    color:#ff6600;
}

.story-item h3 {
    margin:0;
    padding:0.5rem 0;
    font-weight:300;
    font-size:1.8rem;
    display:inline-block;
}

.story-cols {
    display:flex;
    flex-flow:column;
    justify-content: center;
    min-height:60px;
    width:100%;
}

.story-row {
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.story-item .comments-section {
    /*-webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -ms-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease; 
    transition: all 0.3s ease;*/
    overflow: hidden;
    height: 0;
}

.story-item.active .comments-section {
    /*max-height:2000px;*/
    height: auto;
}

.story-item-number {
    margin-right:1rem;
}

.story-arrow {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #ffffff;
    margin-right:1rem;
}

.story-score {
    margin-right:2rem;
}

.username-link {
    color:#ffffff;
    text-decoration: none;
}

.username-link:hover {
    color:#ff6600;
}

.story-by {
    margin-right:2rem;
}

.story-comments {
    margin-left:auto;
}

.story-comments:hover {
    cursor:pointer;
}

.story-timestamp-link {
    color:#ffffff;
    text-decoration: none;
}

.story-timestamp-link:hover {
    color:#ff6600;
}

/* Comment Icon */
.icon {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.icon:after,
.icon:before {
    background: #ffffff;
    border: 2px solid #ffffff;
    content: '';
    position: absolute;
}
.icon:hover,
.icon:hover:after,
.icon:hover:before {
    background-color: #ffffff;
}

.comment {
    border-radius: 4px;
    height: 10px;
    width: 16px;
    margin-left:1rem;
}
.comment:after,
.comment:before {
    background: none;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffffff;
    bottom: -11px;
    height: 0;
    left: 4px;
    width: 0;
}
.comment:before {
    border-top-color: #ffffff;
    bottom: -7px;
    z-index: 1;
}
.comment:hover:after {
    background: none;
}
.comment:hover:before {
    background: none;
    border-top-color: #ffffff;
}